* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #ffff
}

body,
html {
  min-height: 100vh;
  height: 100%;
  background-image: url('/src/img/background.jpg');
  background-size: cover;
  background-position: center;
}

img {
  max-width: 100%;
}

button {
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(
    90deg, 
    rgb(69, 42, 218) 0%,
    rgb(84, 123, 232) 100%
    );
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(
    90deg, 
    rgb(84, 123, 232) 0%,
    rgb(69, 42, 218) 100%
    );
}
